<p-toolbar class="mb-6">
  <ng-template #start>
    @if (allowCreation()) {
      <p-button
        label="Novo"
        icon="pi pi-plus"
        severity="secondary"
        class="mr-2"
        (onClick)="openNew()"
      />
    }

    @if (filtersTemplate()) {
      <p-button
        label="Filtrar"
        icon="pi pi-filter"
        severity="secondary"
        (onClick)="drawerVisible.set(true)"
      />
    }
  </ng-template>

  <ng-template #end>
    <p-button
      label="Exportar"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="export()"
    />
  </ng-template>
</p-toolbar>

<app-crud-table
  [config]="config()"
  [columns]="columns()"
  [globalFilterFields]="globalFilterFields()"
  [actionsTemplate]="actionsTemplate()"
  [items]="items()"
  [loading]="loadingItems()"
  [templateMap]="templateMap()"
  (editClick)="edit($event)"
  (deleteOneClick)="deleteOne($event)"
  (pageChange)="onPage($event)"
></app-crud-table>

<p-confirmdialog [style]="{ width: '450px' }" />
<app-crud-dialog
  [(visible)]="dialogVisible"
  [config]="config()"
  [formTemplate]="formTemplate()"
  (cancelClick)="cancel()"
  (saveClick)="save()"
></app-crud-dialog>

<p-drawer header="Filtros" [(visible)]="drawerVisible" position="right">
  <ng-container *ngTemplateOutlet="filtersTemplate()"></ng-container>
</p-drawer>
