<app-crud
  #crud
  [columns]="cols"
  [service]="categoryService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [searchRequest]="searchRequest()"
  [filtersTemplate]="filters"
  [templateMap]="templateMap"
></app-crud>

<ng-template #crudForm>
  <form [formGroup]="form" class="grid grid-cols-12 gap-4">
    <app-input-container
      label="Código"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <input type="text" pInputText id="id" formControlName="id" fluid />
    </app-input-container>

    <app-input-container
      label="Descrição"
      class="col-span-12 md:col-span-6 lg:col-span-6"
    >
      <input
        type="text"
        pInputText
        id="description"
        formControlName="description"
        fluid
      />
    </app-input-container>

    <app-input-container
      label="Ícone"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <app-icon-select formControlName="icon"></app-icon-select>
    </app-input-container>

    <p-fieldset legend="Subcategorias" class="col-span-12">
      <app-subitem-form
        formControlName="subcategories"
        [form]="subcategoryForm"
        [columns]="subcategoryCols"
      >
        <ng-template #formTemplate>
          <ng-container
            *ngTemplateOutlet="subcategoryFormTemplate"
          ></ng-container>
        </ng-template>
      </app-subitem-form>
    </p-fieldset>
  </form>
</ng-template>

<ng-template #subcategoryFormTemplate>
  <div [formGroup]="subcategoryForm" class="grid grid-cols-12 gap-4">
    <app-input-container
      label="Descrição"
      class="col-span-12 md:col-span-6 lg:col-span-6"
    >
      <input
        type="text"
        pInputText
        id="description2"
        formControlName="description"
      />
    </app-input-container>

    <app-input-container
      label="Ícone"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <app-icon-select formControlName="icon"></app-icon-select>
    </app-input-container>
  </div>
</ng-template>

<ng-template #subcategoryTemplate let-row>
  <p-tree [value]="row | categoryTreeNode" class="w-full">
    <ng-template pTemplate="value">
      <div class="flex text-center items-center gap-2">
        <i [class]="row.icon"></i>
        <span> {{ row.description }}</span>
      </div>
    </ng-template>
  </p-tree>
</ng-template>

<ng-template #filters>
  <app-input-container label="Descrição" class="col-span-12">
    <input
      type="text"
      pInputText
      id="description2"
      [(ngModel)]="filtroDescription"
      [ngModelOptions]="{ standalone: true }"
    />
  </app-input-container>
</ng-template>
