<app-crud
  #crud
  [columns]="cols"
  [service]="reservationService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [actionsTemplate]="customActions"
  (saveClick)="onSave()"
></app-crud>

<ng-template #crudForm>
  <div class="p-3 rounded-lg bg-surface-ground">
    <form [formGroup]="form">
      <div class="mb-6">
        <p class="mt-1 text-muted-color">
          Preencha as informações abaixo para gerenciar uma reserva de itens.
        </p>
      </div>

      <div class="grid grid-cols-1 gap-6">
        <p-fieldset
          legend="Informações da Reserva"
          [toggleable]="true"
          styleClass="block"
        >
          <div class="grid grid-cols-12 gap-4 pt-4">
            <app-input-container
              label="Código"
              class="col-span-12 md:col-span-2"
            >
              <input pInputText id="id" formControlName="id" />
            </app-input-container>

            <app-input-container
              label="Data da Reserva"
              class="col-span-12 sm:col-span-6 md:col-span-5"
            >
              <p-datepicker
                formControlName="reservationDate"
                dateFormat="dd/mm/yy"
              />
            </app-input-container>

            <app-input-container
              label="Data da Retirada"
              class="col-span-12 sm:col-span-6 md:col-span-5"
            >
              <p-datepicker
                formControlName="withdrawalDate"
                dateFormat="dd/mm/yy"
                styleClass="w-full"
              />
            </app-input-container>

            <app-input-container label="Descrição" class="col-span-12">
              <input
                pInputText
                id="description"
                formControlName="description"
              />
            </app-input-container>
          </div>
        </p-fieldset>

        <p-fieldset
          legend="Itens da Reserva"
          [toggleable]="true"
          styleClass="block"
        >
          <div class="pt-2">
            <app-subitem-form
              formControlName="items"
              [form]="reservationItemForm"
              [columns]="reservationItemCols"
            >
              <ng-template #formTemplate>
                <ng-container
                  *ngTemplateOutlet="reservationItemFormTemplate"
                ></ng-container>
              </ng-template>
            </app-subitem-form>
          </div>
        </p-fieldset>

        <p-fieldset legend="Observações" [toggleable]="true" styleClass="block">
          <div class="pt-4">
            <app-input-container
              label="Observação"
              class="col-span-12"
            >
              <textarea
                pInputTextarea
                id="observation"
                formControlName="observation"
                rows="4"
                [autoResize]="true"
              ></textarea>
            </app-input-container>
          </div>
        </p-fieldset>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #reservationItemFormTemplate>
  <form
    [formGroup]="reservationItemForm"
    class="grid grid-cols-12 gap-4 items-center p-2"
  >
    <app-input-container label="Item" class="col-span-12 md:col-span-8">
      <app-search-select
        formControlName="item"
        optionLabel="name"
        [service]="itemService"
      ></app-search-select>
    </app-input-container>

    <app-input-container label="Quantidade" class="col-span-12 md:col-span-4">
      <p-inputNumber
        locale="pt-BR"
        formControlName="quantity"
        styleClass="w-full"
      ></p-inputNumber>
    </app-input-container>
  </form>
</ng-template>

<ng-template #customActions let-row>
  <p-button
  icon="pi pi-pencil"
  styleClass="p-button-secondary mr-2"
  pTooltip="Editar"
  (click)="crud.edit(row)"
  ></p-button>
  <p-button
    icon="pi pi-sign-out"
    pTooltip="Gerar Empréstimo"
    *ngIf="hasAdvancedPrivileges()"
    (click)="createLoanFromReservation(row)"
  ></p-button>
  <!-- <p-button
    icon="pi pi-trash"
    styleClass="p-button-danger"
    pTooltip="Excluir"
    (click)="crud.deleteOne(row)"
  ></p-button> -->
</ng-template>
