<app-crud
  #crud
  [columns]="cols"
  [service]="loanService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
  (entityLoad)="onEntityLoad($event)"
  (cancelClick)="onCancel()"
  [actionsTemplate]="actions"
  [allowCreation]="hasAdvancedPrivileges()"
></app-crud>

<ng-template #crudForm>
  <div class="p-fluid p-4">
    <div class="mb-6">
      <p class="text-muted-color">
        Preencha os campos para registrar um novo empréstimo.
      </p>
    </div>

    <form [formGroup]="form" class="grid grid-cols-12 gap-4">
      <app-input-container
        label="Data do empréstimo"
        class="col-span-12 md:col-span-4"
      >
        <p-datepicker dateFormat="dd/mm/yy" formControlName="loanDate" />
      </app-input-container>

      <app-input-container
        label="Prazo de devolução"
        class="col-span-12 md:col-span-4"
      >
        <p-datepicker dateFormat="dd/mm/yy" formControlName="deadline" />
      </app-input-container>

      <app-input-container label="Mutuário" class="col-span-12 md:col-span-4">
        <app-search-select
          formControlName="borrower"
          optionLabel="nome"
          [service]="userService"
          placeholder="Selecione um usuário"
        />
      </app-input-container>

      <app-input-container label="Observação" class="col-span-12">
        <textarea
          rows="5"
          cols="30"
          pTextarea
          formControlName="observation"
        ></textarea>
      </app-input-container>

      <p-fieldset legend="Itens" class="col-span-12">
        <app-subitem-form
          formControlName="items"
          [form]="loanItensForm"
          [columns]="itensCols"
          [allowEditing]="!disabled()"
          [allowDeleting]="!disabled()"
          [allowAdding]="!disabled()"
        >
          <ng-template #formTemplate>
            <ng-container
              *ngTemplateOutlet="loanItensFormTemplate"
            ></ng-container>
          </ng-template>
        </app-subitem-form>
      </p-fieldset>
    </form>
  </div>
</ng-template>

<ng-template #actions let-row>
  <p-button
    icon="pi pi-pencil"
    class="mr-2"
    severity="secondary"
    *ngIf="hasAdvancedPrivileges()"
    (click)="openEdit(row)"
  ></p-button>
  <p-button
    icon="pi pi-undo"
    class="mr-2"
    severity="info"
    *ngIf="hasAdvancedPrivileges()"
    (click)="openReturnDialog(row)"
  ></p-button>
</ng-template>

<ng-template #loanItensFormTemplate>
  <div
    [formGroup]="loanItensForm"
    class="grid grid-cols-12 min-w-0 gap-4 pb-5"
  >
    <app-input-container label="Item" class="col-span-4 lg:col-span-6">
      <app-search-select
        formControlName="item"
        optionLabel="name"
        [service]="itemService"
        placeholder="Selecione um item"
      />
    </app-input-container>

    <app-input-container
      label="Quantidade"
      class="col-span-4 md:col-span-6 lg:col-span-3"
    >
      <p-input-number locale="pt-BR" mode="decimal" [min]="1" formControlName="quantity">
      </p-input-number>
    </app-input-container>
  </div>
</ng-template>

<ng-template #filters>
  <div class="grid grid-cols-12 gap-4">
    <app-input-container label="Data do empréstimo" class="col-span-12">
      <p-datepicker dateFormat="dd/mm/yy" [(ngModel)]="loanDateFilter" />
    </app-input-container>

    <app-input-container
      *ngIf="hasAdvancedPrivileges()"
      label="Mutuário"
      class="col-span-12"
    >
      <app-search-select
        [(ngModel)]="borrowerFilter"
        optionLabel="nome"
        [service]="userService"
        placeholder="Selecione um usuário"
      />
    </app-input-container>

    <app-input-container label="RA/SIAPE" class="col-span-12">
      <input type="text" pInputText id="ra_siape" [(ngModel)]="raSiapeFilter" />
    </app-input-container>

    <app-input-container
      label="Status"
      class="col-span-12"
    >
      <app-static-select
        [(ngModel)]="statusFilter"
        [options]="status"
      ></app-static-select>
    </app-input-container>
  </div>
</ng-template>
