<app-crud
  #crud
  [columns]="cols"
  [service]="purchaseService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
></app-crud>

<ng-template #crudForm>
  <div class="p-fluid">
    <form [formGroup]="form" class="grid grid-cols-12 gap-x-6 gap-y-4">
      <div class="col-span-12">
        <p class="text-gray-500">
          Preencha as informações abaixo para registrar uma nova entrada de
          itens.
        </p>
      </div>

      <p-fieldset legend="Informações da Nota" class="col-span-12">
        <div class="grid grid-cols-12 gap-x-6 gap-y-5 p-4">
          <app-input-container label="Código" class="col-span-12 md:col-span-2">
            <input pInputText id="id" formControlName="id" />
          </app-input-container>

          <app-input-container
            label="Data da Solicitação"
            class="col-span-12 md:col-span-4"
          >
            <p-datepicker
              formControlName="date"
              dateFormat="dd/mm/yy"
            ></p-datepicker>
          </app-input-container>

          <app-input-container
            label="Observação"
            class="col-span-12"
          >
            <textarea
              pInputTextarea
              rows="3"
              formControlName="observation"
            ></textarea>
          </app-input-container>
        </div>
      </p-fieldset>

      <p-fieldset legend="Itens da Compra" class="col-span-12">
        <app-subitem-form
          formControlName="items"
          [form]="purchaseItemForm"
          [columns]="purchaseItemCols"
        >
          <ng-template #formTemplate>
            <ng-container
              *ngTemplateOutlet="purchaseItemFormTemplate"
            ></ng-container>
          </ng-template>
        </app-subitem-form>
      </p-fieldset>
    </form>
  </div>
</ng-template>

<ng-template #purchaseItemFormTemplate>
  <div
    [formGroup]="purchaseItemForm"
    class="grid grid-cols-12 gap-x-6 gap-y-4 items-center"
  >
    <app-input-container label="Item" class="col-span-12 md:col-span-5">
      <app-search-select
        formControlName="item"
        optionLabel="name"
        [service]="itemService"
      ></app-search-select>
    </app-input-container>

    <app-input-container label="Quantidade" class="col-span-6 md:col-span-3">
      <p-inputNumber locale="pt-BR" formControlName="quantity"></p-inputNumber>
    </app-input-container>
  </div>
</ng-template>

<ng-template #filters>
  <div class="grid grid-cols-12 gap-4">
    <app-input-container label="Data da Compra" class="col-span-12">
      <p-datepicker
        [(ngModel)]="dateFilter"
        dateFormat="dd/mm/yy"
      ></p-datepicker>
    </app-input-container>

    <app-input-container label="Usuário Responsável" class="col-span-12">
      <app-search-select
        [(ngModel)]="userFilter"
        optionLabel="nome"
        [service]="userService"
      ></app-search-select>
    </app-input-container>
  </div>
</ng-template>
