<app-crud
  #crud
  [columns]="cols"
  [service]="userService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
  [actionsTemplate]="customActions"
></app-crud>
<ng-template #crudForm>
  <div class="p-fluid p-4">
    <div class="mb-6">
      <p class="text-muted-color">
        Preencha os dados para registrar um novo usuário.
      </p>
    </div>
    <form [formGroup]="form" class="grid grid-cols-12 gap-4">
      <app-input-container label="Nome" class="col-span-12 md:col-span-8">
        <input type="text" pInputText id="nome" formControlName="nome" />
      </app-input-container>
      <app-input-container label="Ativo" class="col-span-12 md:col-span-4">
        <p-toggleswitch class="mt-2" formControlName="enabled" />
      </app-input-container>
      <app-input-container label="E-mail" class="col-span-12 md:col-span-6">
        <input type="text" pInputText id="email" formControlName="email" />
      </app-input-container>
      <app-input-container label="Telefone" class="col-span-12 md:col-span-6">
        <input
          type="text"
          pInputText
          id="telefone"
          formControlName="telefone"
        />
      </app-input-container>
      <app-input-container label="Acesso" class="col-span-12 md:col-span-4">
        <p-select
          [options]="roleOptions"
          formControlName="role"
          appendTo="body"
        ></p-select>
      </app-input-container>
      <app-input-container label="RA/SIAPE" class="col-span-12 md:col-span-4">
        <input
          type="text"
          pInputText
          id="documento"
          formControlName="documento"
        />
      </app-input-container>
      <app-input-container label="Senha" class="col-span-12 md:col-span-4">
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password"
        />
      </app-input-container>
    </form>
  </div>
</ng-template>
<ng-template #filters>
  <div class="grid grid-cols-12 gap-4">
    <app-input-container label="Nome" class="col-span-12">
      <input
        type="text"
        pInputText
        id="filtroNome"
        [(ngModel)]="filtroNome"
        [ngModelOptions]="{ standalone: true }"
      />
    </app-input-container>
    <app-input-container label="RA/SIAPE" class="col-span-12">
      <input
        type="text"
        pInputText
        id="filtroDocumento"
        [(ngModel)]="filtroDocumento"
        [ngModelOptions]="{ standalone: true }"
      />
    </app-input-container>
  </div>
</ng-template>
<ng-template #customActions let-row>
  <p-button
    icon="pi pi-pencil"
    styleClass="p-button-secondary mr-2"
    pTooltip="Editar"
    tooltipPosition="left"
    (click)="crud.edit(row)"
  ></p-button>
  <p-button
    icon="pi pi-check-square"
    styleClass="p-button-info mr-2"
    pTooltip="Emitir documento de nada consta"
    tooltipPosition="left"
    (click)="grantClearance(row)"
  ></p-button>
  <p-button
    icon="pi pi-trash"
    styleClass="p-button-danger mr-2"
    pTooltip="Excluir"
    (click)="crud.deleteOne(row)"
    tooltipPosition="left"
  ></p-button>
</ng-template>
