/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

body { 
    font-family: 'Inter', 'Lato', sans-serif; 
    background-color: var(--surface-ground);
    color: var(--text-color);
}

.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: var(--surface-100); border-radius: 4px;}
.custom-scrollbar::-webkit-scrollbar-thumb { background: var(--surface-300); border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: var(--surface-400); }

/* Custom Modal Styles */
.return-ficha-modal .p-dialog-header {
    display: none !important;
}
.return-ficha-modal .p-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
    background: transparent !important;
    border-radius: 1rem !important;
}
.return-ficha-modal {
    background: transparent !important;
    box-shadow: none !important;
}
