<app-crud
  [columns]="cols"
  [service]="inventoryHistoryService"
  [config]="config"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
  [allowCreation]="false"
  [templateMap]="templateMap"
></app-crud>

<ng-template #typeTemplate let-row>
  <p-tag
    [value]="labelValue.transform(row.type, types)"
    [severity]="typeSeverity(row.type)"
    [icon]="typeIcon(row.type)"
  ></p-tag>
</ng-template>

<ng-template #filters>
  <div class="grid grid-cols-12 gap-4">
    <app-input-container label="Item" class="col-span-12">
      <app-search-select
        [ngModel]="itemFilter()"
        (ngModelChange)="onItemFilterChange($event)"
        optionLabel="name"
        [service]="itemService"
        placeholder="Selecione um item"
      />
    </app-input-container>

    @if (selectedItemQuantity() !== undefined) {
      <div class="col-span-12">
        <div class="p-3 rounded-border bg-primary-50 dark:bg-primary-400/10 text-primary-700 dark:text-primary-300">
          Quantidade atual em estoque: <strong>{{ selectedItemQuantity() }}</strong>
        </div>
      </div>
    }

    <app-input-container label="Tipo de movimentação" class="col-span-12">
      <app-static-select [(ngModel)]="typeFilter" [options]="types"></app-static-select>
    </app-input-container>

    <app-input-container label="Período" class="col-span-12">
      <p-datepicker
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [(ngModel)]="dateRangeFilter"
        [showButtonBar]="true"
      />
    </app-input-container>
  </div>
</ng-template>
