<p-dialog
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [header]="config()?.title"
  [modal]="true"
  (onHide)="cancel()"
  [style]="{ 'max-width': config()?.dialogWidth ?? '75vw', 'width': config()?.dialogWidth ?? '75vw' }"
>
  <ng-template #content>
    <ng-container *ngTemplateOutlet="formTemplate()"></ng-container>
  </ng-template>

  <ng-template #footer>
    <p-button
      label="Cancelar"
      severity="secondary"
      variant="outlined"
      icon="pi pi-times"
      [disabled]="loadingSave()"
      (onClick)="cancel()"
    />
    @if (config()?.allowUpdate !== false) {
      <p-button
        label="Salvar"
        severity="success"
        icon="pi pi-check"
        [loading]="loadingSave()"
        [disabled]="loadingSave()"
        (onClick)="save()"
      />
    }
  </ng-template>
</p-dialog>
