<p-dialog
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [header]="config()?.title"
  [modal]="true"
  [dismissableMask]="true"
  (onHide)="cancel()"
  [style]="{
    'max-width': config()?.dialogWidth ?? '75vw',
    width: config()?.dialogWidth ?? '75vw',
  }"
>
  <ng-template #content>
    <ng-container *ngTemplateOutlet="formTemplate()"></ng-container>
  </ng-template>
  <ng-template #footer>
    <div class="flex justify-between w-full">
      <div class="flex">
        @if (showDelete()) {
          <p-button
            label="Excluir"
            severity="danger"
            variant="outlined"
            icon="pi pi-trash"
            [disabled]="loadingSave()"
            (onClick)="delete()"
          />
        }
      </div>
      <div class="flex gap-2">
        <p-button
          label="Cancelar"
          severity="secondary"
          variant="outlined"
          icon="pi pi-times"
          [disabled]="loadingSave()"
          (onClick)="cancel()"
        />
        @if (config()?.allowUpdate !== false) {
          <p-button
            label="Salvar"
            severity="success"
            icon="pi pi-check"
            [loading]="loadingSave()"
            [disabled]="loadingSave()"
            (onClick)="save()"
          />
        }
      </div>
    </div>
  </ng-template>
</p-dialog>
