<app-floating-configurator />
<div
  class="bg-surface-50 dark:bg-surface-800 flex items-center justify-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-col items-center justify-center">
    <div>
      <div
        class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 border-t-3 border-t-primary"
        style="border-radius: 53px"
      >
        <div class="text-center mb-8">
          <div class="mb-8 flex justify-center align-middle">
            <app-logo width="16rem" />
          </div>
          <div
            class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4"
          >
            Sala de Apoio – DAELE/UTFPR
          </div>
          <span class="text-muted-color font-medium"
            >Faça login para continuar</span
          >
        </div>
        <div>
          <label
            for="email1"
            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
            >E-mail</label
          >
          <input
            pInputText
            id="email1"
            type="text"
            placeholder="Endereço de e-mail"
            class="w-full md:w-120 mb-8"
            [(ngModel)]="email"
          />
          <label
            for="password1"
            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
            >Senha</label
          >
          <p-password
            id="password1"
            [(ngModel)]="password"
            placeholder="Senha"
            [toggleMask]="true"
            styleClass="mb-4"
            [fluid]="true"
            [feedback]="false"
          ></p-password>
          <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <div class="flex items-center">
              <p-checkbox
                [(ngModel)]="rememberMe"
                id="rememberme1"
                binary
                class="mr-2"
              ></p-checkbox>
              <label for="rememberme1">Continuar conectado</label>
            </div>
            <a
              routerLink="/forgot-password"
              class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
              >Esqueceu a senha?</a
            >
          </div>
          <p-button
            label="Entrar"
            styleClass="w-full"
            (onClick)="loginClick()"
          ></p-button>
          <div class="text-center mt-8">
            <span>Não possui cadastro? <a routerLink="/sign-up" class="text-primary cursor-pointer">Cadastre-se</a></span>
            <br/><br/>
            <span>Não recebeu o e-mail de confirmação? <a (click)="resendEmail()" class="text-primary cursor-pointer font-bold">Reenviar</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
