<app-crud
  #crud
  [columns]="cols"
  [service]="itemService"
  [config]="config"
  [actionsTemplate]="customActions"
  [form]="form"
  [formTemplate]="crudForm"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
></app-crud>

<ng-template #crudForm>
  <form [formGroup]="form" class="grid grid-cols-12 gap-4">
    <app-input-container
      label="Código"
      class="col-span-12 md:col-span-6 lg:col-span-1"
    >
      <input type="text" pInputText id="id" formControlName="id" fluid />
    </app-input-container>

    <app-input-container
      label="Nome"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <input type="text" pInputText id="name" formControlName="name" fluid />
    </app-input-container>

    <app-input-container
      label="Descrição"
      class="col-span-12 md:col-span-6 lg:col-span-4"
    >
      <input
        type="text"
        pInputText
        id="description"
        formControlName="description"
        fluid
      />
    </app-input-container>

    <app-input-container
      label="Tipo"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <app-static-select
        [options]="itemTypeOptions"
        formControlName="type"
      ></app-static-select>
    </app-input-container>

    <app-input-container
      label="Categoria"
      class="col-span-12 md:col-span-4 lg:col-span-4"
    >
      <app-category-select formControlName="category"></app-category-select>
    </app-input-container>

    <app-input-container
      label="Quantidade disponível"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <p-input-number
        locale="pt-BR"
        formControlName="quantity"
      ></p-input-number>
    </app-input-container>

    <app-input-container
      label="Quantidade mínima"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <p-input-number
        locale="pt-BR"
        formControlName="minimumStock"
      ></p-input-number>
    </app-input-container>

    <app-input-container
      label="Preço"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <p-input-number
        locale="pt-BR"
        mode="currency"
        currency="BRL"
        formControlName="price"
      ></p-input-number>
    </app-input-container>

    <app-input-container
      label="Siorg"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <input type="text" pInputText id="siorg" formControlName="siorg" fluid />
    </app-input-container>

    @if (form.get("type")?.value === "CONSUMABLE") {
      <app-input-container
        label="Localização"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      >
        <input type="text" pInputText id="location" formControlName="location" fluid />
      </app-input-container>
    }

    <app-input-container label="Fotos" class="col-span-12">
      <app-photo-attachment
        [service]="storageService"
        formControlName="images"
      ></app-photo-attachment>
    </app-input-container>

    @if (form.get("type")?.value === "DURABLE") {
      <p-fieldset legend="Patrimônios" class="col-span-12">
        <app-subitem-form
          formControlName="assets"
          [form]="assetForm"
          [columns]="assetCols"
        >
          <ng-template #formTemplate>
            <ng-container *ngTemplateOutlet="assetFormTemplate"></ng-container>
          </ng-template>
        </app-subitem-form>
      </p-fieldset>
    }

    @if (form.get('id')?.value) {
      <p-fieldset legend="Empréstimos Ativos" class="col-span-12">
        <p class="mb-3">
          Clique no botão abaixo para visualizar a lista completa de empréstimos ativos para este item.
        </p>
        <p-button
          icon="pi pi-clock"
          label="Ver Empréstimos Ativos do Item"
          styleClass="p-button-secondary"
          (click)="showAllLoans()"
        ></p-button>
      </p-fieldset>
    }
    </form>
</ng-template>

<ng-template #assetFormTemplate>
  <div [formGroup]="assetForm" class="grid grid-cols-12 gap-4">
    <app-input-container
      label="Patrimônio"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <input
        type="text"
        pInputText
        id="serialNumber"
        formControlName="serialNumber"
      />
    </app-input-container>

    <app-input-container
      label="Localização"
      class="col-span-12 md:col-span-6 lg:col-span-4"
    >
      <input type="text" pInputText id="location" formControlName="location" />
    </app-input-container>
  </div>
</ng-template>

<ng-template #filters>
  <app-input-container label="Nome" class="col-span-12">
    <input type="text" pInputText id="name" [(ngModel)]="nameFilter" fluid />
  </app-input-container>

  <app-input-container label="Tipo" class="col-span-12">
    <app-static-select
      [options]="itemTypeOptions"
      [(ngModel)]="typeFilter"
    ></app-static-select>
  </app-input-container>

  <app-input-container label="Categoria" class="col-span-12">
    <app-category-select [(ngModel)]="categoryFilter"></app-category-select>
  </app-input-container>

  <app-input-container label="Siorg" class="col-span-12">
    <input type="text" pInputText id="siorg" [(ngModel)]="siorgFilter" fluid />
  </app-input-container>

  <app-input-container label="Localização" class="col-span-12">
    <input type="text" pInputText id="location" [(ngModel)]="locationFilter" />
  </app-input-container>
</ng-template>

<ng-template #customActions let-row>
  <p-button
    icon="pi pi-cart-plus"
    pTooltip="Adicionar ao Carrinho"
    styleClass="mr-2"
    tooltipPosition="left"
    (click)="addToCart(row)"
  ></p-button>

  @if (userHasAdvancedPrivileges()) {
    <p-button
      icon="pi pi-clock"
      pTooltip="Ver empréstimos do item"
      styleClass="p-button-secondary mr-2"
      tooltipPosition="left"
      (click)="showActiveLoans(row)"
    ></p-button>
    <p-button
      icon="pi pi-pencil"
      styleClass="p-button-secondary mr-2"
      pTooltip="Editar"
      tooltipPosition="left"
      (click)="crud.edit(row)"
    ></p-button>
  }
</ng-template>
